<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Analyx</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/analyx.css">
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="container">
    <div th:if="*{infoMessage!=null}" class="alert alert-info" th:text="${infoMessage}"></div>
    <div th:if="*{errorMessage!=null}" class="alert alert-danger" th:text="${errorMessage}"></div>
    <th:block layout:fragment="content"></th:block>

</div>
</body>
</html>